@import './src/variables.scss';

header{
    background-color: $second-color-theme;
    height: 90px;
    position: fixed;
    z-index: 10;
    width:100%;
    div{
       padding-top: 30px;
        a{
            color: white;
            font-size: 40px;
            font-weight: bold;            
        }
    }
    
}

@media screen and (max-width:980px) {
    header div{
        text-align: center;
    }
}