@import './src/variables.scss';
@import './src/mixins.scss';

#calendar{
    font-weight: bold;
    margin: 20px 0;
    .row{
      margin: 0 15px;
    }
    #calendar_header{
        display: flex;
        div{
            padding: 5px;
            text-align: center;
            background-color: $first-color-theme;
            color: white;
            @include reminderTitleWrap(1, 30px);
        }
    }
    .not-highlighted span{
        opacity: .4;
        color: black;
    }
    .Saturday,
    .Sunday{
        background-color: #f2f2f2 !important;
    }
    .Saturday:not(.not-highlighted),
    .Sunday:not(.not-highlighted){
        color: $highlight-font-color !important;        
    }
    .day{
        height: 120px;
        border:1px solid #d7d7d7;
        padding: 5px;        
    }

    .day.zero-reminders:hover{
        background-color:$second-color-theme !important;
        cursor: pointer;
    }
    .day:not(.zero-reminders):hover{
      box-shadow:inset 0px 0px 0px 3px $second-color-theme;
      cursor: pointer;
  }
    .reminder{
      padding: 0 5px;
      .reminder-item{        
        font-size: 12px;
        font-weight: normal;
        @include reminderTitleWrap(1, 20px);
      }
    }

    .reminders-container{
      width: 100%;
    }

    .reminders-container.more-than-4{
      display: flex;
      flex-wrap: wrap;
      height: 71px;
      overflow: hidden;
      max-width: 120px;;
      .reminder{
        padding: 0 5px;
        width: 20px;
        height: 20px;
        margin:2px; 
      }
      .reminder-item{
        display: none;
      }    
    }

    .elipsis-more{
      text-align: center;
    } 
}

#date_picker{
  margin-top: 20px;
  form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
  }
}

:host ::ng-deep mat-form-field.year{
  width: 60px;
}

#new-reminder{
 width: 100%;
  button{
    width: 100%;
  }
}


@media screen and (min-width: 1px){
    .seven-cols .col-1,
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width:  calc(100% / 7) !important;
      max-width:  calc(100% / 7) !important;
      flex:none !important;
    }
  }

@media screen and (min-width: 768px){
    .seven-cols .col-1,
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width:  calc(100% / 7) !important;
      max-width:  calc(100% / 7) !important;
      flex:none !important;
    }
  }
  
  @media screen and (min-width: 992px) {
    .seven-cols .col-1,
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width:  calc(100% / 7) !important;
      max-width:  calc(100% / 7) !important;
      flex:none !important;
    }
  }

  @media screen and (min-width: 1200px) {
    .seven-cols .col-1,
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width:  calc(100% / 7) !important;
      max-width:  calc(100% / 7) !important;
      flex:none !important;
    }
  }