<section class="main-content">
  <div class="container">
    <h1 *ngIf="route.snapshot.params.date">New reminder for {{this.selectedDate | date}}</h1>
    <h1 *ngIf="route.snapshot.params.date == undefined">New reminder</h1>


    <div id="reminderContainer">
      <form class="reminder-item" [formGroup]="reminder" class="row" (ngSubmit)="saveReminder()">

        <div class="col-lg-6 col-md-8 col-sm-12 col-12">
          <div class="form-item">
            <mat-form-field appearance="fill">
              <mat-label>Title*</mat-label>
              <input matInput formControlName="title" maxlength="30" />
            </mat-form-field>
          </div>
          <div class="form-item">
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input (dateInput)="findWeatherfromDate()" readonly (click)="picker1.open()" matInput [matDatepicker]="picker1" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-item row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <mat-form-field appearance="fill">
                <mat-label>City Search*</mat-label>
                <input (focusout)="searchCity(); changed = true;" matInput formControlName="city" />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngIf="editReminder == undefined && changed">
              <mat-form-field appearance="fill">
                <mat-label>Select the city</mat-label>
                <mat-select formControlName="citySelect">
                  <mat-option (click)="searchWeather()" *ngFor="let city of cities; let i = index" [value]="i">
                    {{city.formatted}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row form-item">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <mat-form-field appearance="fill">
                <mat-label>Start time*</mat-label>
                <input matInput formControlName="startTime" type="time" />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <mat-form-field appearance="fill">
                <mat-label>End time*</mat-label>
                <input matInput formControlName="endTime" type="time" />
              </mat-form-field>
            </div>
          </div>

          <div class="form-item">            
            <input readonly type="hidden" formControlName="reminderColor" />
            <color-chrome color="{{reminder.getRawValue().reminderColor}}" (onChangeComplete)="changeComplete($event)"></color-chrome>
          </div>
        </div>

        <div class="col-lg-6 col-md-4 col-sm-12 col-12 weather-info display-flex">
          <div class="margin-auto"  *ngIf="weather && weather.length">
            <b>Weather information for the city</b>
            <div>
              <img src="http://openweathermap.org/img/wn/{{weather[0].weatherIcon}}@2x.png" />
              <p>{{weather[0].weatherMain}} ({{weather[0].weatherDescription}})</p>
            </div>           
          </div>
          <div class="margin-auto"  *ngIf="weather && weather.length == 0 && displayWeather  && weathers && weathers.length">
            <b><i>No weather information was provided from API for the selected date (only information for 7 days)</i></b>                       
          </div>
        </div>
        <div  class="col-lg-6 col-md-8 col-sm-12 col-12 display-flex">
          <button class="margin-auto" [disabled]="reminder.status == 'INVALID'" type="submit">save</button>
        </div> 
        <div  class="col-lg-6 col-md-4 col-sm-12 col-12">
        </div>      
      </form>
    </div>
  </div>

</section>