:host ::ng-deep .mat-form-field{
    width: 100%;
}

.weather-info{
    text-align: center;
}

:host ::ng-deep color-chrome{
    display: block;
    margin-bottom: 20px;
    .saturation{
        padding-bottom: 20%;
    }
    .chrome-picker{
        width: 100%;
        box-shadow: none;
        border: 1px solid #cecece;
    }
}

button{
    width: 100%;
}

@media screen and (max-width:762px){
    .weather-info{
        margin-top: 30px;
    }
}