<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                © 2020 Denise Calsavara Paiva de Oliveira
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 links">
                <div><a href="https://github.com/dedacpo/test-calendar">check this project at GitHub</a></div>
                <div><a href="https://opencagedata.com/">learn about OpenCage Geocoding API</a></div>
                <div><a href="https://openweathermap.org/">learn about OpenWeather API</a></div>
                <div><a href="https://angular.io/">learn about Angular</a></div>
            </div>
        </div>
    </div>
</footer>